body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header, footer {
    background: #333;
    color: #fff;
    padding: 1em 2em;
    text-align: center;
}

header h1, header p {
    margin: 0;
}

section#projects h2 {
    background-color: #555;
    color: white;
    padding: 10px 20px;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}
